{{!< default}}
{{!-- The tag above means: insert everything in this file
{{!-- Home page template into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">

    {{!-- Featured Post --}}
    {{#is "home"}}
    <header class="major">
        <h1>Welcome to our new website!</h1>
        <p>Our website is getting fresh re-design.</p>
    </header>
    {{/is}}

    {{#get "posts" limit="all" filter="tags:home_2022"}}
    {{#foreach posts}}
    <h3>{{title}}</h3>
    {{/foreach}}
    {{/get}}

</main>